!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.DS_Store
.ash_history
.cache
.cache/
.dynamodb/
.env
.env*
.env*.local
.env.test
.eslintcache
.fusebox/
.grunt
.idea/$CACHE_FILE$
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.js
.pnp/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
fabric.properties
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out/
pids
public
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
yarn-debug.log*
yarn-error.log
yarn-error.log*
